{% extends "base.html" %}

{% block content %}

	<div class="jumbotron">
		<h3>Paulino Rocha e Silva</h3>
	</div>

	<p>
	Paulino R. e Silva, brazilian, {{ idade }} years old, lawyer, network consultant and developer.
	</p>
	<p>Graded in law course and computer system by Pontifícia Universidade  Católica do Paraná and Faculdade Santa Cruz, in Curitiba, Paraná State,  Brazil.</p>
	<p> His specialty is digital security in legal and technical  aspects. Certified by Beckman Center for Internet & Society at  Harvard Law Scholl and by SANS (System Administrators and Network  Security).</p>
	<p>Former president of ABDTI (Associação Brasileira de Direito e T.I.).  Runs projects at Directnet, a company inside the FGV-PR incubator,  where are developed integrated solutions of public utility.</p>

{% endblock %}